aniso8601==7.0.0
asgiref==3.4.1
django-graphql-jwt==0.3.4
django==3.2.13
graphene-django==2.15.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
promise==2.3
psycopg2-binary==2.9.1
pyjwt==2.4.0; python_version >= '3.6'
pytz==2021.1
rx==1.6.1
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3